/* GLOBAL */
html, body, .ronathan-container {
	height:100%;
	margin:0 auto;
}
.grid-container {
/*	padding-left:5px;
	padding-right:5px;*/
	margin: 0 auto;
	width:100%;
	height:863.5px;
}

/* STANDARD BROWSERS*/
@media (min-width: 400px) {
	/* Columns */
	.grid-container > [class^="grid-"] {
		position:relative;
		float:left;
		min-height:1px; /* Prevents the columns from collapsing */
/*		padding-left:5px;
		padding-right: 5px;
		margin-left: 5px;*/
	}

	.grid-container > [class^="grid-"]:first-child {
		margin-left:0px;
	}

	.grid-container > [class^="grid-"]:last-child {
		float:right;
	}

	.grid-container:after {
		content: " ";
		display: table;
		clear:both;
	}

	/* Grid Layout System, Columns: 77px, Margins: 5px */
/*	.grid-1 { width: 77px; }
	.grid-2 {  width: 159px; }
	.grid-3 {  width: 241px; }
	.grid-4 {  width: 323px; }
	.grid-5 {  width: 405px; }
	.grid-6 {  width: 487px; }
	.grid-7 {  width: 569px; }
	.grid-8 {  width: 651px; }
	.grid-9 {  width: 733px; }
	.grid-10 {  width: 815px; }
	.grid-11 {  width: 897px; }
	.grid-12 {  width: 980px; }*/

	/* Grid Layout System in Percentages77/9.9.*/
	.grid-1 { width: 7.857%; }
	.grid-2 {  width: 16.224%; }
	.grid-3 {  width: 24.592%; }
	.grid-4 {  width: 32.959%; }
	.grid-5 {  width: 41.327%; }
	/*.grid-6 {  width: 49.694%; }*/
	.grid-6 { width: 50%; }
	.grid-7 {  width: 58.061%; }
	.grid-8 {  width: 66.429%; }
	.grid-9 {  width: 74.796%; }
	.grid-10 {  width: 83.163%; }
	.grid-11 {  width: 91.531%; }
	.grid-12 {  width: 100%; }
}