/* GLOBAL */
.ronathan-container {
	margin:0 auto;
}
.grid-container {
	padding-left:2.5px;
	padding-right:2.5px;
	margin: 0 auto;
	width:1000px;
	height:100%;
}

img {
	width:100%;
}

/* STANDARD BROWSERS*/
@media (min-width: 768px) {
	/* Columns */
	.grid-container > [class^="grid-"] {
		float:left;
		min-height:1px; /* Prevents the columns from collapsing */
		padding-left:2.5px;
		padding-right: 2.5px;
		margin-left: 5px;
	}

	.grid-container > [class^="grid-"]:first-child {
		margin-left:0px;
	}

/*	.grid-container > [class^="grid-"]:last-child {
		float:right;
	}*/

	.grid-container:after {
		content: " ";
		display: table;
		clear:both;
	}

	/* Grid Layout System, Columns: 77px, Margins: 5px */
	.grid-1 { width: 77px; }
	.grid-2 {  width: 159px; }
	.grid-3 {  width: 241px; }
	.grid-4 {  width: 323px; }
	.grid-5 {  width: 405px; }
	.grid-6 {  width: 487px; }
	.grid-7 {  width: 569px; }
	.grid-8 {  width: 651px; }
	.grid-9 {  width: 733px; }
	.grid-10 {  width: 815px; }
	.grid-11 {  width: 897px; }
	.grid-12 {  width: 980px; }
}