* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face {
	font-family: 'bariol-regular';
	src:url(../fonts/Bariol_Regular.otf);
}
body {
	font-size:12px;
	font-family: Georgia, Arial, Helvetica;
}
h1 {
	font-family:'Lora Bold', Georgia;
	font-size:6em;
	margin:0;
}
h2 {
	font-family:'Lora Bold', Georgia;
	font-size:4em;
	margin:0;
}
h3 {
	font-family:'Lora Bold', Georgia;
	font-size:3em;
	margin:0;
}
p {
	margin:0;
}

/* Landing Page Styling */
.landingPage {
	height:100%;
	/*background-image:url(../images/tail.jpg);*/
	background-size:cover;
	background-attachment:fixed;
	background-position: top center;
  background-repeat: no-repeat;
}
.lightBlueMask {
	position:absolute;
	margin-left:-5px;
	height:100%;
	width:100%;
	background-color:rgba(73,198,235, 0.9);
}

.homepage-container {
	position:absolute;
	height:auto;
	width:100%;
	bottom:5%;
	background-color:#FFF;
	border:0.5em solid #4FC6EB;
	padding:0.5em;
	border-radius:1em;
}
.homepage-text {
	position:relative;
	height:100%;
	width:100%;
	margin:0;
	background-color:#4FC6EB;
	padding-right:10%;
	border-radius:0.5em;
}
.homepage-text h1, .homepage-text h3 {
	margin-top:0;
	text-align:right;
	color:#fff;
}
.homepage-img {
	position:absolute;
	width:100%;
	bottom:0px;
}

/* NAVBAR */
#navbar {
	opacity:0;
}
.navbar {
	position:static;
	height:30px;
	width:100%;
	bottom:5px;
	z-index:1000;
	background-color:rgba(0, 0, 0, 0.9);
}
.navbar > div.navbar-item {
	height:100%;
	width:19.5%;
	margin:0;
	color:#FFF;
	text-align:center;
	font-weight:500;
	font-size:1.2em;
	display:inline-block;
	vertical-align:middle;
	line-height:30px;
	cursor:pointer;
	font-family:'Lora Bold', Georgia;
}
.navbar-text:hover {
	border-bottom:2px solid #FFF;
}

/* ABOUT ME PAGE */
.hobby-item {
	position:absolute;
	border-radius:2em 2em;
	height:8em;
	width:8em;
	background-position: center center;
	background-size:cover;
	cursor:pointer;
}
.hobby-item-nthgen {
	top:50%;
	margin-top:-4em;
	left:20%;
	background-image:url(../images/nthgen.png);
	background-color:#000;
	border:0.5em solid #000;
}
.hobby-item-journal {
	top:25%;
	margin-top:-4em;
	left:32.5%;
	background-image:url(../images/journal.png);
	background-color:#FFE13C;
	border:0.5em solid #FFE13C;
}
.hobby-item-mse {
	top:25%;
	margin-top:-4em;
	right:32.5%;
	background-image:url(../images/mse.png);
	background-color:#49C6EB;
	border:0.5em solid #49C6EB;
}
.hobby-item-basketball {
	top:50%;
	margin-top:-4em;
	right:20%;
	background-image:url(../images/basketball-icon.png);
	background-color:#E54B0B;
	border:0.5em solid #E54B0B;
}
.hobby-item-hackeryou {
	top:75%;
	margin-top:-4em;
	right:32.5%;
	background-image:url(../images/hackeryou.png);
	border:0.5em solid #cf1e24;
}
.hobby-item-bucketlist {
	top:75%;
	margin-top:-4em;
	left:32.5%;
	background-image:url(../images/bucket.png);
	background-color:#C2C2C2;
	border:0.5em solid #C2C2C2;
}

/*.hobby-item-basketball:hover, 
.hobby-item-nthgen:hover, 
.hobby-item-journal:hover {
	background-color:#49C6EB;
}*/

/* Dev Section */
.dev-item-frontend {
	position:absolute;
	left:100px;
	width:50%;
	max-width:500px;
	top:50%;
	height:230px;
	margin-top:-115px;
}
.dev-item-backend {
	position:absolute;
	right:50px;
	width:50%;
	max-width:500px;
	top:50%;
	height:230px;
	margin-top:-115px;
}
.front-end {
	position:relative;
	display:table;
	padding: 0 5%;
	height:50%;
	width:100%;
	background-color:#FAFAFA;
}
.back-end {
	position:relative;
	display:table;
	padding: 0 5%;
	height:50%;
	width:100%;
	background-color:#1C1E26;
	color:#FAFAFA;
}