* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face {
	font-family: 'Proxima Nova Bold';
	src:url(../fonts/Proxima-Nova-Bold.otf);
}
body {
	font-size:14px;
	font-family: 'Open Sans', 'sans-serif' Arial, Helvetica;
	color:#000;
}
h1 {
	font-family:'Proxima Nova Bold', 'Arial', 'Open Sans';
	font-size:4em;
	margin:0;
}
h2 {
	font-family:'Proxima Nova Bold', 'Arial', 'Open Sans';
	font-size:3em;
	margin:0;
}
h3 {
	font-family:'Proxima Nova Bold', 'Arial', 'Open Sans';
	font-size:2.35em;
	margin:0;
}
p {
	margin:0;
}

/* Landing Page Styling */
.landingPage {
	height:100%;
	background-image:url(../images/landingpage2.png);
	/*background-size:cover;*/
	background-attachment:fixed;
	background-position: top center;
  /*background-repeat: no-repeat;*/
}
.lightBlueMask {
	position:absolute;
	margin-left:-5px;
	height:100%;
	width:100%;
	background-color:rgba(73,198,235, 0.8);
}

.homepage-container {
	position:absolute;
	height:auto;
	width:100%;
	bottom:5%;
	background-color:#FFF;
	border:0.5em solid #4FC6EB;
	padding:0.5em;
	border-radius:1em;
}
.homepage-text {
	position:relative;
	height:100%;
	width:100%;
	margin:0;
	background-color:#4FC6EB;
	padding-right:10%;
	border-radius:0.5em;
}
.homepage-text h1, .homepage-text h3 {
	margin-top:0;
	text-align:right;
	color:#fff;
}
.homepage-img {
	position:absolute;
	width:100%;
	bottom:0px;
}

/* NAVBAR */
#navbar {
	opacity:0;
}
.navbar {
	position:static;
	height:30px;
	width:100%;
	bottom:5px;
	z-index:1000;
	background-color:rgba(0, 0, 0, 0.9);
}
.navbar > div.navbar-item {
	height:100%;
	width:19.5%;
	margin:0;
	color:#FFF;
	text-align:center;
	font-weight:500;
	font-size:1.2em;
	display:inline-block;
	vertical-align:middle;
	line-height:30px;
	cursor:pointer;
	font-family:'Lora Bold', Georgia;
}
.navbar-text:hover {
	border-bottom:2px solid #FFF;
}

/* ABOUT ME PAGE */
/*.aboutme-item {
	position:absolute;
	border-radius:2em 2em;
	height:8em;
	width:8em;
	background-position: center center;
	background-size:cover;
	cursor:pointer;
}*/
#aboutMe {
	/*background-color:#1C1E26;*/
	position:relative;
	perspective:3300px;
}
.aboutme-item-container {
	position:absolute; 
	height:auto; 
	max-width: 714px; 
	top:50%; 
	left: 50%; 
	margin-top:-336px; 
	margin-left:-357px;
	/*-webkit-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
  opacity:0;
  -webkit-animation: start 2s ease-out forwards;
  -moz-animation: start 2s ease-out forwards;
  -o-animation: start 2s ease-out forwards;
  animation: start 2s ease-out forwards;*/
}
/*@-webkit-keyframes start{
	0%{
		-webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    transform: translateX(200px);
		opacity:0;
	}
	50%{
		opacity:1;
		-webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
	}
	100%{
		-webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
		opacity:1;
	}
}
*/.aboutme-item {
	position:relative;
	float:left;
	height:15em;
	width:15em;
	margin:1em;
	background-color:#000;
	background-position: center center;
	background-size:cover;
	cursor:pointer;
	border-radius:1em;
	opacity:0;
	overflow:hidden;
	border:1em solid #000;
	
	/* Animation for flying in */
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
	-moz-transition: -moz-transform 1s ease-in-out;
  -o-transition: -o-transform 1s ease-out;
  transition: transform 1s ease-in-out;

	-webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
}
.translateLeft {
	-webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.aboutme-item:hover {
	/*background-color:#FFF !important;*/
}
/*.aboutme-item:hover {
	background-color:#000;
}*/
.aboutme-item div {
  -webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.aboutme-text {
	position:absolute;
	height:100%;
	width:100%;
	color:#000;
	display:table;
}
.aboutme-text h3 {
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	color:#FFF;
}
.aboutme-background {
	position:absolute;
	height:100%;
	width:100%;
	background-position: center center;
	background-size:cover;
}
.slideTextLeft div:nth-child(2){
  left:100%;
}
.slideTextLeft:hover div {
	-webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.aboutme-nthgen {
	background-image:url(../images/nthgen.png);
}
.aboutme-journal {
	background-image:url(../images/journal.png);
}
.aboutme-mse {
	background-image:url(../images/mse.png);
}
.aboutme-basketball {
	background-image:url(../images/basketball-icon.png);
	background-color:#E54B0B;
}
.aboutme-hackeryou {
	background-image:url(../images/hackeryou2.png);
	border:0.5em solid #cf1e24;
}
.aboutme-bucketlist {
	background-image:url(../images/bucket.png);
	background-color:#C2C2C2;
	border:0.5em solid #C2C2C2;
}
.aboutme-aboutme {
	background-color:#61A8B2;
	border:0.5em solid #61A8B2;
	padding:1em;
	text-align:center;
	color:#FFF;
	background-image:url(../images/bucket.png);
}
/*.aboutme-item-nthgen {
	top:50%;
	margin-top:-4em;
	left:20%;
	background-image:url(../images/nthgen.png);
	background-color:#000;
	border:0.5em solid #000;
}
.aboutme-item-journal {
	top:25%;
	margin-top:-4em;
	left:32.5%;
	background-image:url(../images/journal.png);
	background-color:#FFE13C;
	border:0.5em solid #FFE13C;
}
.aboutme-item-mse {
	top:25%;
	margin-top:-4em;
	right:32.5%;
	background-image:url(../images/mse.png);
	background-color:#49C6EB;
	border:0.5em solid #49C6EB;
}
.aboutme-item-basketball {
	top:50%;
	margin-top:-4em;
	right:20%;
	background-image:url(../images/basketball-icon.png);
	background-color:#E54B0B;
	border:0.5em solid #E54B0B;
}
.aboutme-item-hackeryou {
	top:75%;
	margin-top:-4em;
	right:32.5%;
	background-image:url(../images/hackeryou.png);
	border:0.5em solid #cf1e24;
}
.aboutme-item-bucketlist {
	top:75%;
	margin-top:-4em;
	left:32.5%;
	background-image:url(../images/bucket.png);
	background-color:#C2C2C2;
	border:0.5em solid #C2C2C2;
}*/

/*.aboutme-item-basketball:hover, 
.aboutme-item-nthgen:hover, 
.aboutme-item-journal:hover {
	background-color:#49C6EB;
}*/

/* Dev Section */
.front-end {
	position:relative;
	float:left;
	padding: 0 5%;
	height:100%;
	width:50%;
	background-color:#FAFAFA;
	background-attachment:fixed;
	background-image:url(../images/binding_light.png);
	color:#404457;
	margin:0;
}
.dev-item-frontend {
	position:absolute;
	float:left;
	top:50%;
	left:5%;
	height:280px;
	max-width:500px;
	margin-top:-140px;
}
.macbook-container {
	position:absolute;
	float:right;
	top:50%;
	right:5%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center center;
	min-height:1px;
	width:300px;
	height:188px;
	margin-top:-60px;
}
.macbook-image {
	height:auto;
	width:100%;
}
.back-end {
	position:relative;
	float:right;
	padding: 0 5%;
	height:100%;
	width:50%;
	background-color:#404457;
	background-attachment:fixed;
	background-image:url(../images/binding_dark.png);
	color:#E3E3E3;
	margin:0;
}
.dev-item-backend {
	position:absolute;
	right:5%;
	top:50%;
	height:240px;
	max-width:400px;
	margin-top:-120px;
}
.database-container {
	position:absolute;
	float:left;
	top:50%;
	left:5%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center center;
	min-height:1px;
	width:250px;
	height:250px;
	margin-top:-100px;
}
#projects-display {
	position:absolute;
	height:750px;
	width:900px; 
	margin:0 auto;
	top:50%;
	left:50%;
	margin-top:-375px;
	margin-left:-450px;
	background-image:url(../images/front-end-imac2.png);
	/*background-attachment:fixed;*/
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center center;
	-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.project-arrows {
	display:table-cell; 
	vertical-align:middle; 
	font-size:6em;
	/*opacity:0;*/
	cursor:pointer;
}
#inner-display {
	position:absolute;
	top:50%;
	left:50%;
	height:465px;
	width:823px;
	margin-top:-339px;
	margin-left:-410px;
	/*background-attachment:fixed;*/
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;

	-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.project1 {
	background-image:url(../images/desktop-screen-shot.png);
}
.project2 {
	background-image:url(../images/beam.jpg);
}
.project3 {
	background-image:url(../images/landingpage.jpg);
}
.project4 {
	background-image:url(../images/landingpage.png);
	background-repeat:repeat;
}

/* 2 Columns for ABOUT ME page */
/*@media (max-width: 791px) {
	.aboutme-item-container {
		margin-top:-396px;
		margin-left:-264px;
	}
}*/

/* 1 column for ABOUT ME page */
/*@media (max-width: 527px) {
	.aboutme-item-container {
		margin-top:-264px;
		margin-left:-132px;
	}
	.aboutme-item {
		height:10em;
		width:10em;
	}
}*/



@media screen and (max-width:1100px) and (min-width:600px) {
	#projects-display {
		background-image:url(../images/ipad.png);
	}
}
@media screen and (max-width:600px) {
	#projects-display {
		background-image:url(../images/iphone.png);
	}
}





@font-face {
	font-family: 'nlicons';
	src:url('../fonts/nlicons/nlicons.eot');
	src:url('../fonts/nlicons/nlicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/nlicons/nlicons.woff') format('woff'),
		url('../fonts/nlicons/nlicons.ttf') format('truetype'),
		url('../fonts/nlicons/nlicons.svg#nlicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* general style for the form */
.nl-form {
	width: 100%;
	margin: 0.3em auto 0 auto;
	font-size: 4em;
	line-height: 1.5;
}

.nl-form ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* normalize the input elements, make them look like everything else */
.nl-form input,
.nl-form select,
.nl-form button {
	border: none;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	font-weight: inherit;
	line-height: inherit;
	display: inline-block;
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.nl-form input:focus {
	outline: none;
}

/* custom field (drop-down, text element) styling  */
.nl-field {
	display: inline-block;
	position: relative;
}

.nl-field.nl-field-open {
	z-index: 10000;
}

/* the toggle is the visible part in the form */
.nl-field-toggle,
.nl-form input,
.nl-form select  {
	line-height: inherit;
	display: inline-block;
	color: #b14943;
	cursor: pointer;
	border-bottom: 1px dashed #b14943;
}

/* drop-down list / text element */
.nl-field ul {
	position: absolute;
	visibility: hidden;
	background: #76C3BD;
	left: -0.5em;
	top: 50%;
	font-size: 80%;
	opacity: 0;
	-webkit-transform: translateY(-40%) scale(0.9);
	-moz-transform: translateY(-40%) scale(0.9);
	transform: translateY(-40%) scale(0.9);
	-webkit-transition: visibility 0s 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: visibility 0s 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
}

.nl-field.nl-field-open ul {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateY(-50%) scale(1);
	-moz-transform: translateY(-50%) scale(1);
	transform: translateY(-50%) scale(1);
	-webkit-transition: visibility 0s 0s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: visibility 0s 0s, opacity 0.3s, -moz-transform 0.3s;
	transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
}

.nl-field ul li {
	color: #fff;
	position: relative;
}

.nl-dd ul li {
	padding: 0 1.5em 0 0.5em;
	cursor: pointer;
	white-space: nowrap;
}

.nl-dd ul li.nl-dd-checked {
	color: #478982;
}

.no-touch .nl-dd ul li:hover {
	background: rgba(0,0,0,0.05);
}

.no-touch .nl-dd ul li:hover:active {
	color: #478982;
}

/* icons for some elements */
.nl-dd ul li.nl-dd-checked:before,
.nl-submit:before,
.nl-field-go:before {
	font-family: 'nlicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.nl-dd ul li.nl-dd-checked:before {
	content: "\e000";
	position: absolute;
	right: 1em;
	font-size: 50%;
	line-height: 3;
}

.nl-ti-text ul {
	min-width: 8em;
}

.nl-ti-text ul li.nl-ti-input input {
	width: 100%;
	padding: 0.2em 2em 0.2em 0.5em;
	border-bottom: none;
	color: #fff;
}

.nl-form .nl-field-go {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	cursor: pointer;
	background: rgba(0,0,0,0.1);
	width: 1.8em;
	text-align: center;
	color: transparent;
}

.nl-field-go:before {
	content: "\e001";
	font-size: 75%;
	color: #fff;
	width: 100%;
	line-height: 2.5;
	display: block;
}

/* custom placeholder color */
input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.8);
}

input:active::-webkit-input-placeholder ,
input:focus::-webkit-input-placeholder {
	color: rgba(255,255,255,0.2);
}

input::-moz-placeholder {
	color: rgba(255,255,255,0.8);
}

input:active::-moz-placeholder,
input:focus::-moz-placeholder {
	color: rgba(255,255,255,0.2);
}

input:-ms-input-placeholder {  
	color: rgba(255,255,255,0.8);
}

input:active::-ms-input-placeholder ,
input:focus::-ms-input-placeholder {
	color: rgba(255,255,255,0.2);
}

/* example field below text input */
.nl-ti-text ul li.nl-ti-example {
	font-size: 40%;
	font-style: italic;
	font-weight: 400;
	padding: 0.4em 1em;
	color: rgba(0,0,0,0.2);
	border-top: 1px dashed rgba(255,255,255,0.7);
}

.nl-ti-text ul li.nl-ti-example em {
	color: #fff
}

/* submit button */
.nl-submit-wrap {
	margin-top: 0.4em;
}

.nl-form .nl-submit {
	line-height: 3;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	background: #76C3BD;
	color: #fff;
	padding: 0 1em 0 0;
	font-size: 40%;
	font-weight: bold;
	letter-spacing: 3px;
}

.nl-submit:before {
	content: "\e001";
	color: #fff;
	float: left;
	padding: 0 0.7em;
	margin: 0 0.8em 0 0;
	background: #69B1A9;
}

.no-touch .nl-form .nl-submit:hover,
.no-touch .nl-form .nl-submit:active {
	background: #69B1A9;
}

.no-touch .nl-form .nl-submit:hover:before {
	background: #58a199;
}

/* overlay becomes visible when a field is opened */
.nl-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	z-index: 9999;
	visibility: hidden;
	-webkit-transition: visibility 0s 0.3s, opacity 0.3s;
	-moz-transition: visibility 0s 0.3s, opacity 0.3s;
	transition: visibility 0s 0.3s, opacity 0.3s;
}

.nl-field.nl-field-open ~ .nl-overlay {
	opacity: 1;
	visibility: visible;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	transition-delay: 0s;
}

@media screen and (max-width: 45em) {
	.nl-form {
		font-size: 3em;
	}
}

@media screen and (max-width: 25em) {
	.nl-form {
		font-size: 2em;
	}
}