* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face {
	font-family: 'Proxima Nova Bold';
	src:url(../fonts/Proxima-Nova-Bold.otf);
}
body {
	font-size:14px;
	font-family: 'Open Sans', 'sans-serif' Arial, Helvetica;
	color:#000;
}
h1 {
	font-family:'Proxima Nova Bold', 'Arial', 'Open Sans';
	font-size:4em;
	margin:0;
}
h2 {
	font-family:'Proxima Nova Bold', 'Arial', 'Open Sans';
	font-size:3em;
	margin:0;
}
h3 {
	font-family:'Proxima Nova Bold', 'Arial', 'Open Sans';
	font-size:2.35em;
	margin:0;
}
p {
	margin:0;
}

/* Landing Page Styling */
.landingPage {
	height:100%;
	background-image:url(../images/landingpage2.png);
	/*background-size:cover;*/
	background-attachment:fixed;
	background-position: top center;
  /*background-repeat: no-repeat;*/
}
.lightBlueMask {
	position:absolute;
	margin-left:-5px;
	height:100%;
	width:100%;
	background-color:rgba(73,198,235, 0.8);
}

.homepage-container {
	position:absolute;
	height:auto;
	width:100%;
	bottom:5%;
	background-color:#FFF;
	border:0.5em solid #4FC6EB;
	padding:0.5em;
	border-radius:1em;
}
.homepage-text {
	position:relative;
	height:100%;
	width:100%;
	margin:0;
	background-color:#4FC6EB;
	padding-right:10%;
	border-radius:0.5em;
}
.homepage-text h1, .homepage-text h3 {
	margin-top:0;
	text-align:right;
	color:#fff;
}
.homepage-img {
	position:absolute;
	width:100%;
	bottom:0px;
}

/* NAVBAR */
#navbar {
	opacity:0;
}
.navbar {
	position:static;
	height:30px;
	width:100%;
	bottom:5px;
	z-index:1000;
	background-color:rgba(0, 0, 0, 0.9);
}
.navbar > div.navbar-item {
	height:100%;
	width:19.5%;
	margin:0;
	color:#FFF;
	text-align:center;
	font-weight:500;
	font-size:1.2em;
	display:inline-block;
	vertical-align:middle;
	line-height:30px;
	cursor:pointer;
	font-family:'Lora Bold', Georgia;
}
.navbar-text:hover {
	border-bottom:2px solid #FFF;
}

/* ABOUT ME PAGE */
/*.aboutme-item {
	position:absolute;
	border-radius:2em 2em;
	height:8em;
	width:8em;
	background-position: center center;
	background-size:cover;
	cursor:pointer;
}*/
#aboutMe {
	/*background-color:#1C1E26;*/
	position:relative;
	perspective:3300px;
}
.aboutme-item-container {
	position:absolute; 
	height:auto; 
	max-width: 714px; 
	top:50%; 
	left: 50%; 
	margin-top:-336px; 
	margin-left:-357px;
	/*-webkit-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
  opacity:0;
  -webkit-animation: start 2s ease-out forwards;
  -moz-animation: start 2s ease-out forwards;
  -o-animation: start 2s ease-out forwards;
  animation: start 2s ease-out forwards;*/
}
/*@-webkit-keyframes start{
	0%{
		-webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    transform: translateX(200px);
		opacity:0;
	}
	50%{
		opacity:1;
		-webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
	}
	100%{
		-webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
		opacity:1;
	}
}
*/.aboutme-item {
	position:relative;
	float:left;
	height:15em;
	width:15em;
	margin:1em;
	background-color:#000;
	background-position: center center;
	background-size:cover;
	cursor:pointer;
	border-radius:1em;
	opacity:0;
	overflow:hidden;
	border:1em solid #000;
	
	/* Animation for flying in */
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
	-moz-transition: -moz-transform 1s ease-in-out;
  -o-transition: -o-transform 1s ease-out;
  transition: transform 1s ease-in-out;

	-webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
}
.translateLeft {
	-webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.aboutme-item:hover {
	/*background-color:#FFF !important;*/
}
/*.aboutme-item:hover {
	background-color:#000;
}*/
.aboutme-item div {
  -webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.aboutme-text {
	position:absolute;
	height:100%;
	width:100%;
	color:#000;
	display:table;
}
.aboutme-text h3 {
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	color:#FFF;
}
.aboutme-background {
	position:absolute;
	height:100%;
	width:100%;
	background-position: center center;
	background-size:cover;
}
.slideTextLeft div:nth-child(2){
  left:100%;
}
.slideTextLeft:hover div {
	-webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.aboutme-nthgen {
	background-image:url(../images/nthgen.png);
}
.aboutme-journal {
	background-image:url(../images/journal.png);
}
.aboutme-mse {
	background-image:url(../images/mse.png);
}
.aboutme-basketball {
	background-image:url(../images/basketball-icon.png);
	background-color:#E54B0B;
}
.aboutme-hackeryou {
	background-image:url(../images/hackeryou2.png);
	border:0.5em solid #cf1e24;
}
.aboutme-bucketlist {
	background-image:url(../images/bucket.png);
	background-color:#C2C2C2;
	border:0.5em solid #C2C2C2;
}
.aboutme-aboutme {
	background-color:#61A8B2;
	border:0.5em solid #61A8B2;
	padding:1em;
	text-align:center;
	color:#FFF;
	background-image:url(../images/bucket.png);
}
/*.aboutme-item-nthgen {
	top:50%;
	margin-top:-4em;
	left:20%;
	background-image:url(../images/nthgen.png);
	background-color:#000;
	border:0.5em solid #000;
}
.aboutme-item-journal {
	top:25%;
	margin-top:-4em;
	left:32.5%;
	background-image:url(../images/journal.png);
	background-color:#FFE13C;
	border:0.5em solid #FFE13C;
}
.aboutme-item-mse {
	top:25%;
	margin-top:-4em;
	right:32.5%;
	background-image:url(../images/mse.png);
	background-color:#49C6EB;
	border:0.5em solid #49C6EB;
}
.aboutme-item-basketball {
	top:50%;
	margin-top:-4em;
	right:20%;
	background-image:url(../images/basketball-icon.png);
	background-color:#E54B0B;
	border:0.5em solid #E54B0B;
}
.aboutme-item-hackeryou {
	top:75%;
	margin-top:-4em;
	right:32.5%;
	background-image:url(../images/hackeryou.png);
	border:0.5em solid #cf1e24;
}
.aboutme-item-bucketlist {
	top:75%;
	margin-top:-4em;
	left:32.5%;
	background-image:url(../images/bucket.png);
	background-color:#C2C2C2;
	border:0.5em solid #C2C2C2;
}*/

/*.aboutme-item-basketball:hover, 
.aboutme-item-nthgen:hover, 
.aboutme-item-journal:hover {
	background-color:#49C6EB;
}*/

/* Dev Section */
.front-end {
	position:relative;
	float:left;
	padding: 0 5%;
	height:100%;
	width:50%;
	background-color:#FAFAFA;
	background-attachment:fixed;
	background-image:url(../images/binding_light.png);
	color:#404457;
	margin:0;
}
.dev-item-frontend {
	position:absolute;
	float:left;
	top:50%;
	left:5%;
	height:280px;
	max-width:500px;
	margin-top:-140px;
}
.macbook-container {
	position:absolute;
	float:right;
	top:50%;
	right:5%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center center;
	min-height:1px;
	width:300px;
	height:188px;
	margin-top:-60px;
}
.macbook-image {
	height:auto;
	width:100%;
}
.back-end {
	position:relative;
	float:right;
	padding: 0 5%;
	height:100%;
	width:50%;
	background-color:#404457;
	background-attachment:fixed;
	background-image:url(../images/binding_dark.png);
	color:#E3E3E3;
	margin:0;
}
.dev-item-backend {
	position:absolute;
	right:5%;
	top:50%;
	height:240px;
	max-width:400px;
	margin-top:-120px;
}
.database-container {
	position:absolute;
	float:left;
	top:50%;
	left:5%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center center;
	min-height:1px;
	width:250px;
	height:250px;
	margin-top:-100px;
}
#projects-display {
	position:relative;
	height:863.5px;
	width:100%; 
	margin:0 auto;
	background-image:url(../images/front-end-imac2.png);
	/*background-attachment:fixed;*/
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
.project-arrows {
	display:table-cell; 
	vertical-align:middle; 
	font-size:6em;
	cursor:pointer;
}
/*#inner-display {
	position:absolute;
	top:150px;
	left:50%;
	margin-left:-38%;
	height:500px;
	width:76%;
	background-image:url(../images/beam.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}*/
/* 2 Columns for ABOUT ME page */
/*@media (max-width: 791px) {
	.aboutme-item-container {
		margin-top:-396px;
		margin-left:-264px;
	}
}*/

/* 1 column for ABOUT ME page */
/*@media (max-width: 527px) {
	.aboutme-item-container {
		margin-top:-264px;
		margin-left:-132px;
	}
	.aboutme-item {
		height:10em;
		width:10em;
	}
}*/

@media screen and (max-width:1100px) and (min-width:600px) {
	#projects-display {
		background-image:url(../images/ipad.png);
	}
}
@media screen and (max-width:600px) {
	#projects-display {
		background-image:url(../images/iphone.png);
	}
}